{
	admin off
	persist_config off
	auto_https off
	storage file_system /tmp/caddy
	storage_clean_interval 24h
}

:80 {
	log {
		output stdout
		format console
	}

	root * CADDY_WORK_DIR
	file_server

	php_fastcgi unix//var/run/php-fpm.sock {
		trusted_proxies private_ranges
		header_up X-Real-IP {$CADDY_REAL_IP}
		header_up X-Forwarded-For {$CADDY_REAL_IP}
	}
}