{
	admin off
	persist_config off
	auto_https off
	storage file_system /tmp/caddy
	storage_clean_interval 24h
}

:80 {
	# 日志
	log {
		output stdout
		format console
	}

	# 基础配置
	root * $CADDY_WORK_DIR
	file_server

	php_fastcgi unix//var/run/php-fpm.sock {
		split .php
		trusted_proxies private_ranges
	}
}